<div class="modal-header">
  <div class="logo">
    <div class="logo-icon">
      <a href="#">B</a>
    </div>
    <div class="launcher">
      <h1>lank Launcher</h1> 
    </div>
    <button routerLink="/search">Search</button>
  </div>
</div>
<div class="modal-content">
  <p>Easily Add your bookmarks</p>
  <button routerLink="/add">Add</button>
</div>
<div class="modal-icons">
  <main *ngIf="!isSearching">
    <ol class="gradient-list">
      <li *ngFor="let bookmark of bookmarks" (click)="onClick(this.bookmark.bookmarkURL)" target="_blank" #list>
        <img class="list-img" src="http://www.google.com/s2/favicons?domain={{bookmark.bookmarkURL}}" alt="{{bookmark.bookmarkName}}">
        <P class="name-editing">{{bookmark.bookmarkName}}</P>
        <a mat-button class="button" (click)="delete(this.bookmark)">Delete</a>
      </li>
    </ol>
  </main>
</div>