h1{
    font-family: 'Menlo',monospace;
    font-size: 22px;
    font-weight: 400;
    margin: 0;
    color: #fb839e;
}
a {
    text-decoration: none;
}
a:link a:visited{
    color: #000;
    outline: 0;
    text-decoration: none;
}
.modal-header{
    align-items: center;
    border-bottom: 0.5px solid #dadada;
}
.modal-header .logo img{
    width: 50px;
    border: 0.5px solid #ddd;
    border-radius: 100%;
}
.modal-content{
    padding: 0 22px;
    display: flex;
}
.modal-content p {
    color: lightsalmon;
}
.modal-content button{
    background-color: #fb839e;
    color: #fff;
    font-weight: 800;
    font-family: 'Raleway' , sans-serif;
    border: none;
    border-radius: 10px;
    margin-left: auto;
    height: max-content;
    align-items: center;
    align-self: center;
    padding: 6px;
    cursor: pointer;
}
.modal-icons{
    border-top: 0.5px solid #dadada;
    height: 50px;
    width: 100%;
}
.logo {
    display: flex;
    padding: 16px;
}
.logo button {
    background-color: #fb839e;
    color: #fff;
    font-weight: 800;
    font-family: 'Raleway' , sans-serif;
    border: none;
    border-radius: 10px;
    margin-left: auto;
    height: max-content;
    align-items: baseline;
    align-self: center;
    margin-top: 10px;
    padding: 6px;
    cursor: pointer;
}
.launcher{
    display: flex;
    text-align: baseline;
    align-items: baseline;
    align-self: center;
    padding-top: 5px;
}
.logo-icon{
    vertical-align: text-bottom;
    margin-right: 4px;
    font-family: 'Raleway' , sans-serif;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    height: 31px;
    width: 31px;
    font-size: 24px;
    color: #fb839e;
    border-radius: 50%;
    border: 2px solid #fb839e;
    font-weight: 400;
    text-transform: uppercase;
}
.logo-icon a {
    text-decoration: none;
    color: #fb839e;
}
.button {
    border-radius: 10px;
    background-color: lightsalmon;
    color: #fff;
    margin-left: auto;
}
.name-editing {
    color: lightsalmon;
    text-decoration: none;
}
.full-width {
    width: 100%;
}

/* -----------------list style------------------------- */
/*** VARIABLES ***/
/* Colors */
/*** EXTEND ***/
/* box-shadow */
ol.gradient-list > li::before, ol.gradient-list > li {
  box-shadow: 0.25rem 0.25rem 0.6rem rgba(0, 0, 0, 0.05), 0 0.5rem 1.125rem rgba(75, 0, 0, 0.05);
}

/*** STYLE ***/
*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

main {
  display: block;
  color: #1d1f20;
  font-family: "Raleway", sans-serif;
  padding: 1rem;
  padding-top: 0px;
}
.list-img {
    height: 25px;
    width: 25px;
    position: relative;
    top:  -20px;
    right: 48px;
    z-index: 999;
    cursor: pointer;
}
ol.gradient-list {
  /* counter-reset: gradient-counter; */
  list-style: none;
  margin: 1.75rem 0;
  padding-left: 1rem;
}
ol.gradient-list > li {
  background: white;
  border-radius: 0 0.5rem 0.5rem 0.5rem;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  /* counter-increment: gradient-counter; */
  margin-top: 1rem;
  min-height: 3rem;
  padding: 1rem 1rem 1rem 3rem;
  position: relative;
  display: flex;
  cursor: pointer;
}
/* ol.gradient-list > li:hover {
    opacity: 0.4;
} */
ol.gradient-list > li::before, ol.gradient-list > li::after {
  background: linear-gradient(135deg, #83e4e2 0%, #a2ed56 100%);
  border-radius: 1rem 1rem 0 1rem;
  content: "";
  height: 3rem;
  left: -1rem;
  overflow: hidden;
  position: absolute;
  top: -1rem;
  width: 3rem;
}
ol.gradient-list > li::before {
  align-items: flex-end;
  /* content: counter(gradient-counter); */
  color: #1d1f20;
  display: flex;
  font: 900 1.5em/1 "Montserrat";
  justify-content: flex-end;
  padding: 0.125em 0.25em;
  z-index: 1;
}
ol.gradient-list > li:nth-child(10n+1):before {
  background: linear-gradient(135deg, rgba(162, 237, 86, 0.2) 0%, rgba(253, 220, 50, 0.2) 100%);
}
ol.gradient-list > li:nth-child(10n+2):before {
  background: linear-gradient(135deg, rgba(162, 237, 86, 0.4) 0%, rgba(253, 220, 50, 0.4) 100%);
}
ol.gradient-list > li:nth-child(10n+3):before {
  background: linear-gradient(135deg, rgba(162, 237, 86, 0.6) 0%, rgba(253, 220, 50, 0.6) 100%);
}
ol.gradient-list > li:nth-child(10n+4):before {
  background: linear-gradient(135deg, rgba(162, 237, 86, 0.8) 0%, rgba(253, 220, 50, 0.8) 100%);
}
ol.gradient-list > li:nth-child(10n+5):before {
  background: linear-gradient(135deg, #a2ed56 0%, #fddc32 100%);
}
ol.gradient-list > li:nth-child(10n+6):before {
  background: linear-gradient(135deg, rgba(162, 237, 86, 0.8) 0%, rgba(253, 220, 50, 0.8) 100%);
}
ol.gradient-list > li:nth-child(10n+7):before {
  background: linear-gradient(135deg, rgba(162, 237, 86, 0.6) 0%, rgba(253, 220, 50, 0.6) 100%);
}
ol.gradient-list > li:nth-child(10n+8):before {
  background: linear-gradient(135deg, rgba(162, 237, 86, 0.4) 0%, rgba(253, 220, 50, 0.4) 100%);
}
ol.gradient-list > li:nth-child(10n+9):before {
  background: linear-gradient(135deg, rgba(162, 237, 86, 0.2) 0%, rgba(253, 220, 50, 0.2) 100%);
}
ol.gradient-list > li:nth-child(10n+10):before {
  background: linear-gradient(135deg, rgba(162, 237, 86, 0) 0%, rgba(253, 220, 50, 0) 100%);
}
ol.gradient-list > li + li {
  margin-top: 2rem;
}